<?xml version="1.0" encoding="UTF-8"?>


<configuration  debug="true">
    <contextName>logback-@project.artifactId@</contextName>
  
    <property name="logback.home" value="." />
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        
        <encoder>
            <Pattern>%d %-5level %logger{36} [%L] - %msg%n</Pattern>
            <!-- this quadruples logging throughput -->
            <immediateFlush>false</immediateFlush>
        </encoder> 
    </appender>
     
   <appender name="FILE-AUDIT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${DEV_HOME}/debug.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d %-5level %logger{36} [%L] - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${DEV_HOME}/archived/debug.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>
    <logger name="org.apache.http">
        <level value="DEBUG"/>
    </logger>
    <logger name="org.apache">
        <level value="ERROR"/>
    </logger>
     <logger name="httpclient.wire.header">
        <level value="DEBUG"/>
    </logger>
     <logger name=" httpclient.wire.content">
        <level value="DEBUG"/>
    </logger>
    
    
    <logger name="org.springframework">
        <level value="DEBUG"/>
    </logger>
    
     <logger name="org.springframework.security.jwt">
        <level value="DEBUG"/>
    </logger>
    
     <logger name="org.springframework.security.oauth2">
        <level value="DEBUG"/>
    </logger>

    <logger name="com.dhenton9000">
        <level value="DEBUG"/>
    </logger>
    
    <logger name="org.thymeleaf">
        <level value="ERROR"/>
    </logger>

    
    <logger name="freemarker.cache">
        <level value="ERROR"/>
    </logger>
    <logger name="springfox">
        <level value="ERROR"/>
    </logger>
    <logger name="org.hibernate">
        <level value="ERROR"/>
    </logger>
    <logger name="org.hibernate.type">
        <level value="ERROR"/>
    </logger>


    <root>
        <appender-ref ref="CONSOLE"/>
       <appender-ref ref="FILE-AUDIT"/>
        
    </root>

</configuration>

